@media screen and (min-width: 940px) {
    main {
        font-size: 18px;
    }

    img {
        max-width: 900px;
    }

    .persona-main {
        grid-template-columns: 1fr 1fr;
    }

    nav ul li a {font-size: 1em;}

}