@media screen and (min-width: 900px) {
    body {
        font-size: 16px;
    }

    header img {
        width: 128px;
    }

    main {
        width: 900px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .weather-summary {
        padding: 1em;
    }

    .map-contact img {
        width: 350px;
    }

    .social-media-icons img {
        max-width: 40px;
    }
   
}
