body {
    font-size: 16px;
}

header img {
    width: 128px;
}

main {
    width: 1000px;
}

.herodiv {
    .herotext {
            h3 {top: 1rem;
                left: 3rem;
                } 
            .welcome { bottom: 3rem;
                right: 3rem;
            }  
        }//end .herotext
    }//end .herodiv

 .current-weather {
        display: flex;
        justify-content: center;
        justify-items: center;
        section, img{
            width: 25%;
            border-radius: 8px;
            text-align: center;
        }//end section, img
    }//end .current-weather

    .five-day-table {
        display: block;
    }


.map {
    iframe {
        width: 400px;
    }  
}

.rental-cards {
    grid-template-columns: 1fr 1fr 1fr;
}