@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
  }
  
body {
    font-size: 14px;
    background-color: $main;
}

main {
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h2, h3, h4, p, table {
    padding: 0 25px;
}

p, ul, table, a {
    font-family: $paragraphFont;
}

header {
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color:$accentBlue;
    border-radius: 2px;

    img {
        width: 100px;
        margin-right: 1em;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


h1 {
    font-family: $headerFont;
    color: $white;
    font-size: 4rem;
    margin: 0;
}

.motto {
    font-style: italic;
    font-family: $paragraphFont;
    color: $white;
}

nav {
    background-color: $accentBlue;

    ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
        li {

        a {
            letter-spacing: 0.1rem;
            font-family: $headingFont;
            text-align: center;
            font-size: 1.25em;
            display: block;
            padding: 1.25em;
            text-decoration: none;
            color: $white;
            font-weight: 600;
        }
        
        :hover {
        background-color: $fadedWhite;
        color: $accentBlue;
        }
        }//end li
    }//end ul

    .active {
        background-color: $fadedWhite;
        
        
        a {
            color: $accentBlue;
            background-color: $white;
        } 
    }
}//end nav   

.responsive {
    li {
    display: none;}

    li:first-child {
    display: block;
    border: none;}
}


h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    font-family: $headerFont;
    padding: 1rem;
    color: $accentBlue;
    background-color: $white;
    border: solid 5px $accentRed;
    border-radius: 8px;
    grid-area: head;
    
}

h3 {
    color: $accentRed;
    font-family: $headingFont;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    
}

.container {
    background-color: $white;
    border: solid 15px $accentLight;
    border-radius: 8px;
}


.herodiv {
    grid-area: hero;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;

    img {
        box-shadow: 8px 8px 8px gray;
        border-radius: 8px;
        max-width: 100%;
    }
    
    .herotext {
        h3{
            text-align: left;
            padding: 1rem;
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            font-size: 2rem;
            margin:0;
            }
            .welcome {display: block;
                text-align: right;
                padding: 0.5rem;
                position: absolute;
                bottom: 0.5rem;
                right: 1rem;
                margin-left: 50%;
                border-radius: 0.75rem;
                background-color: $fadedWhite;
                p {display:none;}
                }//end .welcome    
            }//end .herotext
    }//end .herodiv
 
.vehicle-list {
    grid-area: vehicle;
    margin: 1rem;
    text-align: center;
        
        ul {
        list-style: none;
        line-height: 1.5rem; 
        padding: 0;
        font-size: 1.1rem;
       }
    
        h4 {
            font-size: 1.25rem;}     
}

.btn-container, .submitBtn {
    display: flex;
    justify-content: center;
    
    button {
    height: 5rem;
    width: 80%;
    margin-bottom: 1rem;
    }
}

button {
    font-family: $paragraphFont;
    font-size: 1.5rem;
    background-color: $accentBlue;
    color: $white;
    border-radius: 8px;
    }

    .current-weather {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        section, img{
            width: auto;
        }//end section, img
    }//end .current-weather

.forecast {
    grid-area: weather;
    margin: 1rem;
    text-align: center;
}

.five-day-table {
    display: none;
}

table {
    border-collapse: collapse;
    margin: 1em 1em;
    padding: 0;

    thead {
        background-color: $accentBlue;
        color: $white;
    }

    tr td, th {
        border: 1px solid $black;
        padding: 1em;
        text-align: center;
    }
}

.rental-cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: stretch;

    div {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    h3 {
        text-align: center;
    }

    img {
        object-fit: contain;
    }
     
    table td:first-child {
        background-color: $accentBlue;
        color: $white;
        width: 40%;
    }

    table td:nth-child(2) {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .reserveBtn {
        padding: 1rem;
        margin: 0.5rem 1rem;
    }
}

.contact-info {
    text-align: center;
}

.map-contact {
    grid-area: info;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0.5rem;
}

.map iframe {
        display: none;
    }

.map-link {
    display: block;
} 


.social-media-icons {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.social-media-icons img {
    flex: 1 1 100%;
    max-width: 30px;
    margin-left: 1em;
}

footer, footer a {
    font-family: $paragraphFont;
    background-color: $accentBlue;
    text-align: center;
    padding: 1rem 0;
    color: $white;
}

.columns {
    display: block;
    
    ul {
        margin: 1rem;
        padding: 1rem 1rem 1rem 2rem;
        line-height: 1.5rem;
    }

    > div, form{
        margin: 1rem;
    }
}

.rental-pics {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;

    fieldset {
        padding: 1rem;
        margin: 1.75rem;
        color: $accentBlue;
        background-color: $white;
        border: solid 2px $accentRed;
        border-radius: 8px;
        
        legend {
            font-size: 1.5rem;
            font-weight: bold;
        }

        label {
            padding: 0.5rem;
            
        }

        input, textarea, select {
            background-color: rgba($accentBlue, 0.3);
            border: rgba($accentBlue, 0.5);
            padding: 0.5rem;
            border-radius: 8px;
        }

        ul {
            background-color: rgba($main, 0.3);
            border-radius: 8px;
        }

        .top {
            display: flex;
            flex-direction: column;
        }

        .sbs {
            display: flex;
        }


        .padding {
            margin-right: 1rem;
        }

        .radio-question {
            padding: 1rem;
        }

        .agreement {
            font-style: italic;
            background-color: rgba($main, 0.3);
            padding: 0.5rem;
            margin: 1rem;
            text-align: center;
            border-radius: 8px;
            color: $accentRed;
        }

        input:required, select:required {
            border-left: $accentRed solid 6px;
        }

        input:required:valid, select:required:valid{
            border-left: none;
        }

    }
    .submitBtn {
        width: 50%;
        padding: 1rem;
        margin: 0rem 2rem 2rem;
    font-family: $paragraphFont;
    font-size: 1.5rem;
    background-color: $accentBlue;
    color: $white;
    border-radius: 8px;
        }
}

/*
Validate Validate Validate!
Maybe use json file to populate rental-pics on reservation page
Change Color of text when active in nav to fix contrast
Fix Reserve Now Button--might just have to do one button on top of page 
Center tables/content in vehicle cards
Change hover effects on buttons
Email Bro Blazzard to see if there is a way to embed the map without making my page huge
and what is the request for deposit info supposed to be? Form or just paragraph?
*/
