$main: #25CED1;
$white: #ffffff;
$accentLight: #fceade;
$accentRed: #ff1654;
$accentBlue: #275dad;
$black: black;
$fadedWhite: rgba(255, 255, 255, 0.7);

$headerFont: 'Margarine', cursive;
$headingFont: 'Cabin', sans-serif;
$paragraphFont: 'Playfair Display', serif;
