@media screen and (min-width: 674px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    .responsive li {
        display: block;
        border: none;
    }

    .responsive li:first-child {
        display: none;
    }

    nav ul li:first-child {
        display: none;
    }

    body {
        font-size: 14px;
    }

    header img {
        width: 110px;
    }

    .weather-gallery-main{
        grid-template-columns: 1fr 1fr;
    }

}