table, body, footer {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    font-family: 'Ubuntu', sans-serif;
}

table, table caption {
    border-collapse: collapse;
    box-shadow: 10px 15px 20px #628ca6;
}

td, th, caption {
    padding: 0.6em;
    border: solid 1px gray;  
}

caption {
    background-color: #7fb9c2;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: none;
}

thead, .standout{
    background-color: #628ca6;
    color: white;
    font-size: 1em;
}

tbody {
    background-color: #e7ffed 
   }

tbody>:nth-child(odd){
    background-color: #e7f0ed;
   }  

tfoot {
    background-color: #7fb9c2;
    font-size: 0.75em;
}